@font-face{
    font-family: Coca;
    src: url(coca.otf);
}

h1{
    font-size: 250%;
    text-align: match-parent;
    
    padding: 2%;
    color: red;
    
    font-family: Coca;
    background-image: url(../img/back.jpg);
    
}
.row{
    color: azure;
}
body{
    background-image: url(..//img/logo061-1024x450.png);
}

.btn_s{
    margin: 2%;
    margin-top: 50px;
    display: inline-block;
    width: 200%;
    height: 300%;
    
    font-size: 150%;
    text-align: center; 
    
    border-radius: 50px;
}

.btn_s:hover { 
    color: red;
} 

.form-control{
    margin-bottom: 2%;
    margin-top: -2%;
}

.form-control:active{
    border: 10%;
    border-color: greenyellow;
}

.form-control:last-of-type{
    margin-bottom: 2%;
}